header {
    color: rgb(64,64,64);
    font-family: monospace;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid rgb(64,64,64);
    padding-bottom: 20px;
    margin-bottom: 20px;
}

blockquote {
    margin: 0;
    color: rgb(64,64,64);
    padding: 30px 30px 30px 60px;
    border-left: 8px solid rgb(64,64,64);  /*#CBDDE7*/
    position: relative;
    background: #eee;                      /*#FAF8EB;*/
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    width: 350px;
}

blockquote:before {
    content: "\201C";
    font-family: Arial;
    color: #CBDDE7;
    font-size: 70px;
    position: absolute;
    left: 15px;
    top: 5px;
}

blockquote p {
    font-style: italic;
    font-size: 15px;
    margin-top: 0;  
}

/* выравниваем смайл по центру */
blockquote footer {
    text-align: center;
}
/* корректируем выравнивание по центру, а то что-то не по центральному центру было */
blockquote footer img {
    margin-left: -40px;
}

.links {
    /*border: 1px solid red;*/
    display: block;
    margin-top: 10px;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    padding-left: 10px;
}

/* стилизация ссылок */
/* unvisited, visited, mouse over, selected */
.links a:link {
	/*color: rgb(64,64,64);*/
    color: rgb(0,102,255);
	text-decoration: none;
}

.links  a:visited {
	/*color: rgb(64,64,64);*/
    color: rgb(0,102,255);
}

.links  a:hover {
	color: rgb(0,102,255);
	/*text-decoration: underline;*/
    border-bottom: 1px dashed rgb(0,102,255);
}

.links  a:active {
	text-decoration: none;
}
